<h1>Artists</h1>
<% if !(params[:artist_id].blank?) %>
  <h3>Artist not found</h3>
<% end %>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
  <% end %>
</ul>
