<h1>Artists</h1>

<% if flash[:no_artist] %>
  <h2><%= flash[:no_artist] %></h2>
  <br>
<% end %>

<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_path(artist) %><br>
    <%= link_to "Songs by #{artist.name}", artist_songs_path(artist) %></li>
  <% end %>
</ul>
