<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<h1>Artists</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist_songs_path(artist) %></li>
    Songs:
    <ol>
      <% artist.songs.each do |song| %>
      <li><%= link_to song.title, artist_song_path(song.artist, song) %></li>
    <% end %>
    </ol>
  <% end %>
</ul>
