<h1><%= @artist.name %></h1>
<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(@artist, song) %></li>
    <%#=link_to "some text", users_path(:params => params, :more_params => "more params")%>
  <% end %>
</ul>
